input:valid {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: lightgreen;
}

input:invalid {
    border-color: red;
    border-style: dashed;
    border-width: 2px;
}

input:invalid:required {
    background-color: pink;
}